<div id="cookie-popup" class="cookie-popup">
    <div class="popup-wrapper">
        <p class="cookie-class">Our website use cookies. By continuing <span class="mob-none">navigating</span>, we
            assume your permission to deploy cookies as detailed in our <a href="privacy.html"
                class="popup-span">Privacy Policy.</a></p>
        <div class="cookie-buttons">
           <button id="decline-cookies" class="btn-decline">Decline</button>
            <button id="accept-cookies" class="btn-accept">Accept cookies</button>
         

        </div>
    </div>
</div>