<section class="hero-section" id="home">
    <div class="container hero-container">
        <h1 class="visually-hidden">Battle Roosters</h1>
        <picture>
            <source srcset="
                            /img/hero/logo-desk.png 1x,
                            /img/hero/logo-desk@2x.png 2x
                                 " media="(min-width: 1439px)" />
            <source srcset="
                            /img/hero/logo-mob.png  1x,
                            /img/hero/logo-mob@2x.png 2x
                                 " media="(max-width: 1438px)" />
            <img class="hero-title-img" src="/img/hero/logo-mob.png" alt="Battle Roosters" loading="lazy" />
        </picture>
        <a class="hero-button" href="#demo">
            <picture>
                <source srcset="
        /img/hero/desk-btn.png 1x,
        /img/hero/desk-btn@2x.png 2x
             " media="(min-width: 1439px)" />
                <source srcset="
       /img/hero/mob-btn.png  1x,
       /img/hero/mob-btn@2x.png 2x
             " media="(max-width: 1438px)" />
                <img class="hero-btn pulse" src="/img/hero/mob-btn.png" alt="Enter" loading="lazy" />
            </picture>
        </a>
    </div>
</section>
<section class="disclaimer-section">
    <div class="container">
    <h2 class="disclaimer-title">Disclaimer</h2>
    <p class="disclaimer-text">bitformbox.site IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF WINNING PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME
    AS WINNING IN REAL LIFE GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY PLAYING THIS GAME.</p>
</div>
</section>
<section class="about-section">
    <div class="container">
    <h2 class="visually-hidden">About</h2>
    <ul class="about-list">
        <li class="about-item">
           <picture>
            <source srcset="
             /img/about/one-desk.png 1x,
             /img/about/one-desk@2x.png 2x
             " media="(min-width: 1439px)" />
            <source srcset="
             /img/about/one-mob.png 1x,
             /img/about/one-mob@2x.png 2x
              " media="(max-width: 1438px)" />
            <img class="about-img" src="/img/about/one-mob.png" alt="Battle Roosters" loading="lazy" />
        </picture>  
        <p class="about-text">Welcome to Battle Roosters - it's basically cockfighting but way more fun and nobody gets hurt. Think WWE but with
        chickens. Our roosters are back and they're ready to rumble. You can practically hear the crowd going wild when these
        guys strut
        into the ring.</p>
        </li>
        <li class="about-item">
           <picture>
            <source srcset="
             /img/about/two-desk.png 1x,
             /img/about/two-desk@2x.png 2x
             " media="(min-width: 1439px)" />
            <source srcset="
             /img/about/two-mob.png 1x,
             /img/about/two-mob@2x.png 2x
              " media="(max-width: 1438px)" />
            <img class="about-img" src="/img/about/two-mob.png" alt="Battle Roosters" loading="lazy" />
        </picture>  
        <p class="about-text">In this new instalment, you’re invited to pick your champion. So who's it gonna be? Douglas Bully (he's tough as nails),
        Eggy Chan (fast as lightning), or Mr. Roosterson (classy but dangerous)? Each rooster has its own flair, attitude, and
        pride to defend.</p>
        </li>
    </ul>
    </div>
</section>
<section class="gallery-section">
    <div class="container">
        <h2 class="gallery-title">Gallery</h2>
        <div class="gallery-swiper swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/img/gallery/one.png" alt="Hero" loading="lazy">
                </div>
                <div class="swiper-slide">
                <img src="/img/gallery/two.png" alt="Hero" loading="lazy">
                </div>
                <div class="swiper-slide">
                <img src="/img/gallery/three.png" alt="Hero" loading="lazy">
                </div>
                <div class="swiper-slide">
                <img class="gallery-img" src="/img/gallery/four.png" alt="Hero" loading="lazy">
                </div>
                <div class="swiper-slide">
                <img src="/img/gallery/five.png" alt="Hero" loading="lazy">
                </div>
            </div>
        </div>

    </div>
</section>
<section class="play-section" id="demo">
    <div class="container demo-container">
        <h2 class="visually-hidden">Play</h2>
        <div class="demo-wrapper">
            <picture>
                <source srcset="
             /img/play/demo-desk.png 1x,
             /img/play/demo-desk@2x.png 2x
             " media="(min-width: 1439px)" />
                <source srcset="
             /img/play/demo-mob.png  1x,
             /img/play/demo-mob@2x.png 2x
             " media="(max-width: 1438px)" />
                <img class="game-img" src="/img/play/demo-mob.png" alt="Battle Roosters" loading="lazy" />
            </picture>
            <div class="iframe-wrapper">
                <iframe id="gameIframe"></iframe>

                <button id="closeIframeBtn" class="hidden-close-btn" aria-label="Close">
                    <img src="/img/play/menu.png" alt="Close">
                </button>
            </div>
        </div>
        <a class="demo-btn" href="#" data-game-url="https://games-cv.com/battle_roosters_bonus_buy?refCode=promoRefCode"
            target="gameIframe">
                <img class="demo-img" src="/img/play/btn.png" alt="Play Free" loading="lazy" />
        
        </a>


    </div>
</section>