body{
  background: #1f0024;
  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #fff;
}
h2{
  font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(90deg, #4b2bcf 0%, #ff43ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media only screen and (min-width: 1439px) {
  h2{
    font-size: 42px;
  }
}
