.cookie-popup {
    position: fixed;
    bottom: 30px;
    left: 48%;
    transform: translateX(-48%);
    padding: 40px 11px 20px;
box-shadow: 0 14px 42px 0 rgba(8, 15, 52, 0.06);
    background: linear-gradient(180deg, #480097 0%, #1f0024 100%);
    z-index: 1000;
border: 1px solid #fff;
    border-radius: 20px;
    width: 335px;
        height: auto;
    text-align: left;
    display: none;
}

.cookie-class {

    width: 265px;
    margin-left: auto;
    margin-right: auto;
}

.cookie-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
width: 307px;
    height: 54px;
    margin-top: 37px;
}

.btn-accept {
border-radius: 56px;
    padding: 18px 20px;
    width: 178px;
    height: 54px;
    box-shadow: 0 3px 12px 0 rgba(74, 58, 255, 0.18);
        background: #fff;
        font-family: "Poppins", sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.125;
           color:#480097;
    text-align: center;
}

.btn-decline {
border: 1px solid #fff;
    border-radius: 56px;
    padding: 18px 26px;
    width: 111px;
    height: 54px;
    box-shadow: 0 4px 8px 0 rgba(74, 58, 255, 0.08);
        background: linear-gradient(180deg, #480097 0%, #1f0024 100%);
    font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 16px;
    
        /* line-height: 18px; */
        line-height: 1.125;
        color: #fff;
        text-align: center;
    box-sizing: border-box;
    background-color: inherit;
}

.mob-none {
    display: none;
}

@media screen and (min-width: 1439px) {
    .cookie-popup {
        padding: 20px 40px;
        width: 1439px;
        height: auto;
    }

    .popup-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 44px;
    }

    .popup-img {
        margin-left: 0;
        margin-right: 0;
    }

    .cookie-class {
        width: 600px;
        text-align: left;
        margin-top: 0;
    }

    .mob-none {
        display: inline;
    }


    .cookie-buttons {
        flex-direction: row;
        gap: 20px;
        width: 404px;
        height: 54px;
        margin-top: 0;
    }
}