.footer{
  backdrop-filter: blur(12px);
    background: #1f0024;
}
.footer-container{
  padding: 20px 13px;
}
.footer-mob-img{
  margin-left: auto;
  margin-right: auto;
}
.footer-text{
  margin-top: 32px;
  margin-bottom: 32px;
}
.footer-navigation{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
@media only screen and (min-width: 1439px) {
 .footer-container{
  padding: 48px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .footer-mob-img{
  margin-left: 0;
  margin-right: 0;
 }
 .footer-text{
  margin-top: 0;
  margin-bottom:0;
 }
 .footer-navigation{
  flex-direction: row;
  gap: 28px;
 }
}