.header {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
backdrop-filter: blur(22px);
  background: rgba(255, 255, 255, 0.2);
  height: 72px;
  width: 100%;
  border-bottom: 2px solid #02f3ff;
}

.header-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}



.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: inherit;
  margin-right: 10px;
  margin-left: auto;
}

.navigation-list {
  display: none;
}

/* Modal */
.modal {
  display: none;
backdrop-filter: blur(32px);
  background: linear-gradient(180deg, rgba(57, 1, 65, 0.7) 0%, rgba(31, 0, 36, 0.7) 100%);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 374px;
  height: auto;
  z-index: 1000;
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px 86px 40px 36px;
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: left;
}

.menu-list-item {
font-weight: 700;
  padding: 0px 0px 2px;
  transition: border-bottom 0.3s easy;
}

.menu-list-item:hover {
border-bottom: 2px solid #02f3ff;
}

@media screen and (min-width: 1440px) {
  .header {
    width: 100%;
    height: 80px;
  }

  .header-container {
    padding: 27px 100px;
    justify-content: center;
  }


  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    gap: 40px;
    justify-content: center;
  }


  .navigation-item {
font-weight: 700;
  transition: border-bottom 0.3s easy;
  }

  .navigation-item:hover,
  .navigation-item:active {
border-bottom: 2px solid #02f3ff;
  
  }
}