.hero-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 800px;
}
.hero-title-img{
   margin: 90px auto 34px; 
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hero-btn.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;
    display: block;
    width: 338px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 1439px) {
  .hero-section{
    background-image: url("/img/hero/desk.png");
  }
  .hero-title-img{
    margin-top: 157px;
    margin-bottom: 60px;
  }
}
/* discliamer */
.disclaimer-section{
    box-shadow: inset 0 0 32px 0 #853ed0;
        background: linear-gradient(180deg, #9543e7 0.35%, #6ae0f6 100%);
}
.disclaimer-title {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    color: #302160;
    background: none !important;
        background-clip: initial !important;
        -webkit-background-clip: initial !important;
        -webkit-text-fill-color: initial !important;
}
.disclaimer-text{
    margin-top: 12px;
    font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.4;
        text-transform: uppercase;
        color: #fff;
}
@media only screen and (min-width: 1439px) {
   .disclaimer-title{
    font-size: 42px;
   }
   .disclaimer-text{
    font-size: 32px;
   }
}
/* about */
.about-section{
    background: linear-gradient(180deg, #1f0024 100%);
}
.about-list{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.about-item{
    display: flex;
    flex-direction: column;
        gap: 22px;
        align-items: center;
    padding: 0px 0px 22px;
    background: linear-gradient(90deg, #480097 0%, #1f0024 100%);
}
.about-text{
    padding: 0 12px;
}
@media only screen and (min-width: 1439px) {
.about-list{
    gap: 42px;
}
.about-item{
    flex-direction: row;
    padding: 0px 42px 0px 0px;
    height: 400px;
    gap: 42px;
}
.about-text{
    padding: 0;
    width: 490px;
}
}
/* gallery */
.gallery-swiper {
    width: 100%;
    padding: 60px 0;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    transition:
        transform 0.4s ease,
        filter 0.4s ease,
        opacity 0.4s ease;
}

/* всі картинки */
.swiper-slide img {
    width: 100%;
    max-width: 360px;
    border-radius: 16px;
}

/* НЕ активні */
.swiper-slide {
    transform: scale(0.85);
    filter: brightness(0.5);
    opacity: 0.6;
}

/* центральний слайд */
.swiper-slide-active {
    transform: scale(1.05);
    filter: brightness(1);
    opacity: 1;
    z-index: 2;
}
/* demo */
.play-section{
    background-image: url("/img/play/back-mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.demo-container{
    padding-bottom: 420px;
}
.demo-wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.game-img {
    width: 100%;
    display: block;
    margin-bottom: 22px;
}
.demo-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* iframe поверх картинки */
.iframe-wrapper {
    position: absolute;
    top: 13%;
    /* під екран у картинці */
    left: 47%;
    transform: translateX(-55%);
    width: 68%;
    height: 54%;
    z-index: 5;
}

#gameIframe {
    width: 120%;
    height: 146%;
    border: none;
    display: none;
    background: #000;
}

#closeIframeBtn {
    position: absolute;
    top: 12px;
    right: -50px;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    z-index: 10;
    width: 40px;
    height: 20px;
}
@media only screen and (min-width: 1439px) {
.play-section{
    background-image: url("/img/play/back-desk.png");
}
.demo-container{
    padding: 60px 287px;
}
}
/* features */
.features-setion{
    background-image: url("/img/features/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.features-list{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.features-item{
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 0px 12px 22px;
    background: linear-gradient(270deg, #140000 0%, #480097 100%);
}
.features-item-one{
    background: linear-gradient(90deg, #140000 0%, #480097 100%);
}
.features-subtitle{
    margin-bottom: 38px;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.17619;
        color: #fff;
}
@media only screen and (min-width: 1439px) {
 .features-setion{
    background-image: url("/img/features/desk.png");
 }
 .features-list{
    gap: 42px;
    flex-direction: row;
 }
 .features-item{
        flex-direction: row;
        padding: 0px 42px 0px 0px;
        
        align-items: center;
 }
 .features-item-one{
    flex-direction: row-reverse;
    padding: 0px 0px 0px 42px;
 }
 .features-wrapper{
    width: 230px;
 }
}