.hero-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 800px;
}
.hero-title-img{
   margin: 90px auto 34px; 
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hero-btn.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;
    display: block;
    width: 338px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 1439px) {
  .hero-section{
    background-image: url("/img/hero/desk.png");
  }
  .hero-title-img{
    margin-top: 157px;
    margin-bottom: 60px;
  }
}
/* discliamer */
.disclaimer-section{
    box-shadow: inset 0 0 32px 0 #853ed0;
        background: linear-gradient(180deg, #9543e7 0.35%, #6ae0f6 100%);
}
.disclaimer-title {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    color: #302160;
    background: none !important;
        background-clip: initial !important;
        -webkit-background-clip: initial !important;
        -webkit-text-fill-color: initial !important;
}
.disclaimer-text{
    margin-top: 12px;
    font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.4;
        text-transform: uppercase;
        color: #fff;
}
@media only screen and (min-width: 1439px) {
   .disclaimer-title{
    font-size: 42px;
   }
   .disclaimer-text{
    font-size: 32px;
   }
}
/* about */
.about-section{
    background: linear-gradient(180deg, #1f0024 100%);
}
.about-list{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.about-item{
    display: flex;
    flex-direction: column;
        gap: 22px;
        align-items: center;
    padding: 0px 0px 22px;
    background: linear-gradient(90deg, #480097 0%, #1f0024 100%);
}
.about-text{
    padding: 0 12px;
}
@media only screen and (min-width: 1439px) {
.about-list{
    gap: 42px;
}
.about-item{
    flex-direction: row;
    padding: 0px 42px 0px 0px;
    height: 400px;
    gap: 42px;
}
.about-text{
    padding: 0;
    width: 490px;
}
}