@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./footer.css');
@import url('./header.css');
@import url('./cookie-popup.css');

.background {
    background: #1f0024;
font-family: "Poppins", sans-serif;
font-weight: 400;
    font-size: 16px;
    line-height: 1.09091;
    color: #fff;
    text-align: justify;
}

.privacy-title {
font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 22px;
    line-height: 1.09091;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
    background: none;
    background-image: none;
    background-clip: border-box;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: initial;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.policy-subtitle {
font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.09091;
    color: #fff;
    margin-top: 20px;
    font-size: 20px;
}

.policy-list {
    list-style-type: disc;
    padding-left: 30px;
}

.underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.text {
    margin-top: 20px;
}

.mail-link {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

@media only screen and (min-width: 1439px) {
    .background {
        text-align: left;
    }

    .privacy-title {
        font-weight: 800;
        font-size: 32px;
        margin-top: 120px;
    }
}